## **From the laab's instructions!**

## By: **Abdessamad Touzani**
### **Data Wrangling**
Here we will work on Laptop price!

In [2]:
#Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print("Done")

Done

### **Load Data**

In [35]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"
#Create the dataframe
try:
    df = pd.read_csv(url, header=0)
except Exception as e:
    print(f"Loading error: {str(e)}")

### **DataFrame summary**

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      238 non-null    int64
 1   Manufacturer    238 non-null    object
 2   Category        238 non-null    int64
 3   Screen          238 non-null    object
 4   GPU             238 non-null    int64
 5   OS              238 non-null    int64
 6   CPU_core        238 non-null    int64
 7   Screen_Size_cm  234 non-null    float64
 8   CPU_frequency   238 non-null    float64
 9   RAM_GB          238 non-null    int64
 10  Storage_GB_SSD  238 non-null    int64
 11  Weight_kg       233 non-null    float64
 12  Price           238 non-null    int64
dtypes: float64(3), int64(8), object(2)
memory usage: 24.3+ KB

In [37]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

### **Round 'Screen size cm' to nearest 2 decimal places**

In [46]:
try:
    df[['Screen_Size_cm']] = np.round(df[['Screen_Size_cm']], 2)
except Exception as e:
    print(f"Rounding error: {str(e)}")

In [47]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

### **Evaluate the dataset for missing data**

In [60]:
missing_data = df.isnull()
missing_data.head()
for column in missing_data.columns.values.tolist():
    print(missing_data[column].value_counts())
    print("")

Unnamed: 0
False    238
Name: count, dtype: int64

Manufacturer
False    238
Name: count, dtype: int64

Category
False    238
Name: count, dtype: int64

Screen
False    238
Name: count, dtype: int64

GPU
False    238
Name: count, dtype: int64

OS
False    238
Name: count, dtype: int64

CPU_core
False    238
Name: count, dtype: int64

Screen_Size_cm
False    234
True       4
Name: count, dtype: int64

CPU_frequency
False    238
Name: count, dtype: int64

RAM_GB
False    238
Name: count, dtype: int64

Storage_GB_SSD
False    238
Name: count, dtype: int64

Weight_kg
False    233
True       5
Name: count, dtype: int64

Price
False    238
Name: count, dtype: int64

*For Weight_kg and Screen_Size_cm columns, we can see that there are some missing data, so for  the weight values that are continuous in nature we replace NULL values with the mean and
for the Screen size, because they are categorical in nature, we replace it with the most frequent value.*

### **Replace NaN in 'Weight_kf'**

In [82]:
avg_weight = df['Weight_kg'].astype(float).mean(axis=0)
df['Weight_kg'].fillna(avg_weight, inplace=True)

missing_data['Weight_kg'].value_counts()

AttributeError: 'numpy.int64' object has no attribute 'value_counts'

In [75]:
df['Weight_kg'].head()

0    1.60
1    2.20
2    2.20
3    1.22
4    1.91
Name: Weight_kg, dtype: float64

Continue.... fix the missing data in replace...